@import './_reset-css.scss';
@import './vars';

html {
  min-height: 100vh;
  max-height: 100vh;
}

body {
  background-color: $extraLightGreen;
  font-family: $fontFamily;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#root {
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
