@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

button {
  font-family: $fontFamily;
  background-color: $lightGreen;
  border: none;
  border-radius: $defaultCornerRadius;
  width: 84.21%;
  min-width: 273px;
  height: 69px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  &:hover { 
    cursor: pointer;
  }
}
.lightGreen{
  background-color: $lightGreen;
}
.mediumGreen {
  background-color: $mediumGreen;
}
.darkGreen {
  background-color: $darkGreen;
  color: white;
  height: 60px;
  width: 250px;
  a{
    text-decoration: none;
    color: white;
  }
}
.auth {
  width: 37%;
  min-width: 140px;
}
.reg {
  width: 46.4%;
  min-width: 227px;
}