@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.DoEverythingPage {
  max-height: 768px;
  // overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $darkGreen $extraLightGreen;
  .subtitleWrapper {
    display: flex;
    align-items: center;
    height: 59px;
    width: fit-content;
    padding: 15px 18px 15px 18px;
    border-right: $defaultBorder;
    border-bottom: $defaultBorder;
    border-radius: 0 0 $defaultCornerRadius 0;
    background-color: $lightGreen;
    margin-bottom: 8px;
    .subtitle {
      font-size: $defaultFontSize;
      font-weight: 600;
    }
  }
  .tasksWrapper {
    margin: 0 16px 0 18px;
    max-height: 100vh;
    .tasks {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 8px;
      max-height: 83.64%;
    }
    // &::after {
    //   content: 'ЛКМ - выполнено | ПКМ - удалить';
    // }
  }
}
