@import '../../styles/_mixins.scss';
@import '../../styles/_vars.scss';

.AddNewTask{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}