@import '../../styles/_mixins.scss';
@import '../../styles/_vars.scss';

.AddNewTask{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .form{
        background-color: $lightGreen;
        border: $defaultBorder;
        border-radius: $defaultCornerRadius;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .nameWrapper{
            display: flex;
            flex-direction: column;
            label{
                font-size: 42px;
            }
            input{
                width: 20%;
                height: 42px;
            }
        }
        .textWrapper{
            display: flex;
            flex-direction: column;
            label{
                font-size: 42px;
            }
            textarea{
                width: 20%;
                height: 42px;
            }
        
        }
        .importanceWrapper{
            display: flex;
            flex-direction: column;
            label{
                font-size: 42px;
            }
            input{
                width: 20%;
                height: 42px;
            }
        }
        // .submitBtn{

        // }
    }
}