@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.green {
  background-color: green;
}
.red {
  background-color: red;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
