@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.alertWrapper {
}
.color {
  background-color: green;
}
.green {
  background-color: green;
  color: black;
}
.red {
  background-color: red;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
