@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.taskWrapper {
  padding: 14px 14px 14px 35px;
  border-radius: $defaultCornerRadius;
  background-color: $lightGreen;
  .task {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .taskTitle {
      font-weight: 500;
      font-size: 26px;
      margin-bottom: 8px;
      &::before {
        content: '𒊹';
        height: 10px;
        width: 10px;
        color: $mediumGreen;
      }
    }

    .taskText {
      font-size: $defaultFontSize;
    }
  }
}
// importance styles
h3.thin {
  font-weight: 200 !important;
  color: grey;
}
h3.regular {
  font-weight: 500 !important;
}
h3.medium {
  font-weight: 600 !important;
}
h3.bold {
  font-weight: 800 !important;
  text-decoration: underline;
}
h3.solved {
  text-decoration: line-through;
}
h3.unsolved {
  text-decoration: none;
}
